@import "variables";

.activity-wrapper {
    max-width: $max-width;
    margin: 80px auto;
    justify-content: space-between;
    font-size: 24px;
    & .activity {
        display: flex;
        align-items: center;
    }
    & .post-day {
        color: $brand-color;
        margin-right: 40px;
        width: 120px;
    }
    & .entry-title {
        font-size: 24px;
        font-weight: normal;
    }
}

@media screen and (max-width:1096px) {
    .activity-wrapper {
        width: 90%;
        font-size: 16px;
        & .activity {
            flex-direction: column;
            align-items: baseline;
        }
        & .post-day {
            width: 64px;
        }
        & .entry-title {
            font-size: 16px;
        }
    }
}