body {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
      "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
  color: $brand-color;
  font-weight: normal;
}
h2,
h3,
h4{
  font-weight: normal;
}

address,
em {
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.yumincho {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
      "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

/*＝＝＝＝＝＝＝＝＝＝＝
    フェードイン
＝＝＝＝＝＝＝＝＝＝＝＝*/

.fadein {
    opacity : 0;
    transform : translateY(10px);
    transition : all 1s;
}

.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

.heading2-wrapper {
  text-align: center;
  margin-bottom: 56px;
  > .heading2 {
    font-size: 32px;
    font-weight: normal;
    color: $brand-color;
    letter-spacing: $text-space-m;
    text-indent: $text-space-l;
    margin-bottom: 8px;
  }

  > .heading2-borderbtm {
    width: 240px;
    height: 2px;
    background-color: $brand-color;
    margin: 16px auto 0;
  }

  > .subtitle {
    color: $black;
    font-size: 18px;
    margin: 40px 0 0;
    letter-spacing: $text-space-l;
  }
}

.heading2-wrapper.left {
      text-align: left;
      > .heading2-borderbtm {
          margin: auto 0;
      }
}

.heading3 {
  margin-bottom: 56px;
  color: $brand-color;
  letter-spacing: $text-space-l;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

.horizontal {
  display: flex;
}

.pagination {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: auto;

  & .pager,
  & .next,
  & .prev {
    margin: 0 8px;
    padding: 8px 12px;
    border: 1px solid $brand-color;
    color: $brand-color;
    text-decoration: none;
  }

  & .next,
  & .prev,
  & .last {
    border: none;
  }

  & .current {
    border: 1px solid $brand-color;
    background-color: $brand-color;
    color: $white;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 769px) {
  .heading2-wrapper {
    & .heading2 {
      font-size: 24px;
    }
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .pagination {
    & .next,
    & .prev {
      display: none;
    }
  }
}