// Colors
$white : #fff;
$yellow : #eaba49;
$yellow-dark : #ba932c;
$yellow-light: #dfc578;
$black : #181818;
$brand-color : #000066;
$brand-color-dark: #080841;
$menu-burger-color : #181818;
$red : #b50007;
$blue-light-100: #eeeeff;
$blue-light-300: #f5f5ff;
$blue-light-700: #d1d1e3;


// Fonts
$text-space-m: .1em;
$text-space-l: .2em;

// Display
$max-width: 1096px;